.App{
  max-width: 860px;
  margin: 40px auto;
}

button{
  background: none;
  border: 2px solid #faebd7;
  padding: 6px 12px;
  border-radius: 5px;

  color: #faebd7;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;

  transition: all 1s linear;
}

button:hover{
  background: hsl(262, 23%, 29%);
  color: hsl(34, 78%, 88%);
}

.App p{
  color: antiquewhite;
  font-size: 2rem;
}