@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Lora:ital@1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;

  background: #16121d;
  color: #faebd7;

  min-width: 320px;
  min-height: 100vh;
}
